body {
  font-family: Verdana,Arial,sans-serif;
}
h2 {
  font-size: 1.2em;
  margin: 60px 0 5px 0;
}
.wrapper {
  margin:30px;
}
.wrapper{
  .item {
    > div:last-child {
      margin-bottom:30px;
    }
  }
}
