body {
  font-family: Verdana,Arial,sans-serif;
}
h2 {
  font-size: 1.2em;
  margin: 60px 0 5px 0;
}
.wrapper {
  margin:30px;
}
.wrapper{
  .item {
    margin-bottom:20px;
    > div:last-child {
      margin-bottom:40px;
    }
    > div:first-child {
      margin-bottom:10px;
    }
  }
}
