body {
  font-family: Verdana,Arial,sans-serif;
}
h2 {
  font-size: 1.2em;
  margin: 60px 0 5px 0;
}
.wrapper{
  margin:30px 30px 15px;
  .item {
    > div:last-child {
      margin-bottom:30px;
    }
    .text{
      color: #f66;
    }
  }
}
.footer{
  padding:0 30px 30px;
  hr{
    margin:0 0 10px;
    border-top:1px solid #ccc;
  }
}
